
.btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }

#user_card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    top: 30px;
}

.userProfile {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    
}
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
